.light_bg-one {
    background-image: url(../project/selllight1.webp);
  }
  .light_bg-two {
    background-image: url(../project/selllight2.webp);
  }
  .light_bg-three {
    background-image: url(../project/selllight3.webp);
  }
  .light_bg-four {
    background-image: url(../project/selllight4.webp);
  }
  .light_bg-five {
    background-image: url(../project/selllight5.webp);
  }
  .light_bg-six {
    background-image: url(../project/selllight6.webp);
  }

  