.orna_bg-one {
    background-image: url(../project/sellorna1.webp);
  }
  .orna_bg-two {
    background-image: url(../project/sellorna2.webp);
  }
  .orna_bg-three {
    background-image: url(../project/sellorna3.webp);
  }
  .orna_bg-four {
    background-image: url(../project/sellorna4.webp);
  }
  .orna_bg-five {
    background-image: url(../project/sellorna5.webp);
  }
  .orna_bg-six {
    background-image: url(../project/sellorna6.webp);
  }

  